{% extends 'base.html' %}

{% block head %}
    <title>Отчет {{production.id}}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/production_detail.css' %}">
{% endblock %}

{% block content %}
    <h1>Отчет {{production.id}} ({{production.prod_date}})</h1>
    <br>
    <p>{{ production.description }}</p>
    <br>
    <div id="produced_list">
        <h2>Произведено:</h2>
        {% for prod_produced in prod_produced_set %}
        <div class="prod_produced">
            <h3>{{ prod_produced.produced }}</h3>
            <p>Колличество: {{ prod_produced.quantity }} {{ prod_produced.produced_uom }}</p>
            <p>Себестоимость: {{ prod_produced.cost_price }}</p>
            <h4>Материалы:</h4>
            <div id="Materials">
                {% for material_consumed in prod_produced.productionconsumed_set.all %}
                <div class="material_consumed">
                    <h5>{{ material_consumed.consumed }}</h5>
                    <p>{{ material_consumed.quantity }} {{ material_consumed.consumed_uom }}</p>
                    <p>Полная стоимость: {{ material_consumed.full_purchase_price }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
